*{
	margin: 0;
	padding: 0;
}

h1{
	color:rgba(235, 74, 31, 1);
	font-size: 36px;
	margin: 10px;
	text-align: center;
}

.text{
	color:rgba(107, 109, 108, 1);
	font-size: 18px;
  	width:100%;
  	text-align: center;
}

#head{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#head>div{
	display: flex;
	flex-direction: column;
	text-align: right;
	color:rgba(153, 153, 153, 1);
}

.number{
	color:rgba(235, 74, 31, 1);
	font-size: 28px;
	padding: 0px;
	margin: 0px;
}

.menu{
	padding: 10px;
	background-color: rgba(107, 109, 108, 1);
}

.menu>a{
	padding: 10px;
	text-decoration: none;
	color:rgba(255, 255, 255, 1);
	font-size: 20px;
}

body{
	font-family:sans-serif;
	font-weight: bold;
}

div{
	margin: 20px;
}

#about{
	margin: 10px;
	padding: 50px;
	display: flex;
	align-items: center;
}

#about>div{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#governance{
	display: grid;
	grid-template-columns:  repeat(4, 1fr);
	justify-items: center;
	grid-column-gap: 20px;
}

.humans{
	border-radius: 100px;
    border: 5px solid rgba(153, 153, 153, 1);
    margin: auto 40px;
}

.name{
	color:rgba(235, 74, 31, 1);
	font-size: 26px;
	text-align: center;
}

.position{
	color:rgba(107, 109, 108, 1);
	font-size: 18px;
	text-align: center;
}

.list{
	display: grid;
	grid-template-columns: 1fr;
	margin: 0px 4%;
	color: rgba(107, 109, 108, 1);
	font-size: 24px;
	align-items: center;
	align-content: center;
	justify-content: center;
}

.list>span{
	display: flex;
	justify-content: space-between;
	align-content: center;
}

.list>p{
  	text-align: left;
}


.list>span>i{
	color:rgba(235, 74, 31, 1);
	font-size: 36px;
}

.gallery{
	display: grid;
	grid-template-rows: 1fr auto;
	grid-template-columns:  1fr 6fr 1fr;
	justify-items: center;
	align-items: center;
	text-align: center;
	grid-column-gap: 20px;
}

.gallery>i{
	color:rgba(235, 74, 31, 1);
	font-size: 50px;
}

.gallery span:nth-child(1){
	grid-column-start: 3;
}
