*{
	margin: 0;
	padding: 0;
}

h1{
	text-align: center;

	margin: 10px;

	font-size: 36px;
	color:rgba(235, 74, 31, 1);
}

.text{
	text-align: left;
	margin: 0px 2%;

	color:rgba(107, 109, 108, 1);
	font-size: 18px;
}

.description{
	text-align: center;
}

.highlight{
	color:rgba(235, 74, 31, 1);
}

#head{
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	margin: 0px;
}

#head>div{
	display: grid;
	flex-direction: column;
	text-align: right;

	color:rgba(153, 153, 153, 1);
}

.number{
	padding: 0px;
	margin: 0px;

	color:rgba(235, 74, 31, 1);
	font-size: 28px;
}

#headmenu{
	margin: 0px;
	padding: 10px;

	background-color: rgba(107, 109, 108, 1);
}

#headmenu>a{
	padding: 10px;

	text-decoration: none;
	color:rgba(255, 255, 255, 1);
	font-size: 20px;
}

body{
	height: 100%;
	display: flex;
	flex-direction: column;

	font-family:sans-serif;
	font-weight: bold;
	min-height: 100vh;
}

div{
	margin: 20px;
}

.wrapper{
	flex: 1 0 auto;
}

#footer{	
  	text-align: right;
  	flex: 0 0 auto;

	margin: 0px;
	padding: 10px;
	
	color:rgba(153, 153, 153, 1);
	font-size: 12px;
	background-color: rgba(107, 109, 108, 1);
}

.list{
	margin: 0px 2%;

	color: rgba(107, 109, 108, 1);
	font-size: 24px;
}

.list>span{
	display: flex;
	justify-content: space-between;
}

.list>span>i{
	color:rgba(235, 74, 31, 1);
	font-size: 36px;
}
